#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
main{
  width: 100%;
}
section{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}


section.num-pucks {
  text-align: center;
  align-items: center;
  padding: 2em;
}

i.pucks {
  font-size: 150%;
}

p.error{
  color: red;
}

.tower {
  background-color :#370617;
  height: 8em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 4em;
  max-width: 20em;
  
}

.tower:hover {
  filter: drop-shadow(0 0 2em #6a040f);
}
.tower.react:hover {
  filter: drop-shadow(0 0 2em #9D0208);
}

.buttons {
  display: flex;
  flex-direction: column;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

div.winScreen{
  left:0;
  right:0;
  top:0;
  bottom: 0;

  margin: auto;
  position: absolute;


  align-items: center;
  background-color: rgba(3, 7, 30, 0.77);
  margin:auto;

  max-width: 40em;
  max-height: 20em;
  padding: 10%;
  border-radius: 2%;
}

div.puck {
  text-align: center;
  border-radius: 20%;
  max-height: 1.5em;

}

button {
  margin-right: 2em;
  margin-left: 2em;
}